.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  // display: flex;
  height: 100%;
  background-color: #4c4c4c;
}
